/* all middle content */
.details-orderlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  letter-spacing: 0.01em;
  text-align: justify;
  line-height: 1.4em;
  font-size: 1.2em;
  background: white;
}

/*pizza div  */
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
}
.details-image-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.details-image {
  width: 50%;
  height: 100%;
  margin: auto;
}
.details-front-img {
  width: 100%;
  height: fit-content;
}

.details-add-orderbtn {
  width: 8rem;
  margin-top: 0;
}
.details-recommendation-title {
  padding: 1rem 2rem 0rem 1rem;
  font-weight: 900;
}
.details-recommendations {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: start;
  /* padding: 1rem 2rem 0rem 1rem; */
}
.details-recommended-item {
  display: inline-block;
  padding: 0.5rem;
  font-size: small;
}
.details-rekommend-image {
  height: 4rem;
  width: 4rem;
}
.details-add-recommendation-btn {
  font-weight: 20rem;
  font-size: initial;
  font-weight: 800;
  width: 1.4rem;
  margin-top: 0;
}
.details-before-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 24rem;
}
.details-default-p {
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .details-default-img-div {
    display: none;
  }
  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .details-image-info {
    flex-direction: column;
    flex: 1;
    gap: 10px;
  }
  .side {
    padding-top: 1rem;
  }
  .details-image {
    height: 100%;
    margin: auto;
  }
  .details-orderlist {
    padding: 1rem;
    margin: auto;
  }
  .details-recommendations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .details-recommended-item {
    padding: 0rem;
    letter-spacing: 0em;
    justify-content: center;
    text-align: justify;
    line-height: inherit;
    font-size: 0.6em;
  }
  .details-rekommend-image {
    height: 3rem;
    width: 3rem;
  }
  .details-recommended-item p {
    margin: 0rem;
  }
  .details-add-recommendation-btn {
    height: 1.4rem;
    font-weight: 8rem;
    width: 1.2rem;
    text-align: center;
  }
  .order-item-right-nav-up {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
