/* Create two equal columns that sits next to each other */
/* left column */
.homepage-left-side {
  flex: 50%;
  background-color: #f1f1f1;
}
.home-div-image {
  height: inherit;
  position: relative;
}
.home-image {
  top: 50px;
  left: 50px;
  width: 70%;
  height: auto;
}
/* right column */
.homepage-right-side {
  flex: 50%;
  background-color: white;
  padding: 20px;
}
.homepage-button {
  align-self: center;
  margin-top: 4rem;
}
.homepage-open-time {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.homepage-open-day {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.homepage-open-hour {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 700px) {
  .homepage-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homepage-open-time {
    width: 100%;
  }
}
