.menu-lefNav {
  /* width: 100%; */
  background-color: #1abc9c; /* #1abc9c73; rgb(87, 137, 139);*/
  color: white;
  /* padding: 1rem; */
  padding-top: 0.2rem;
  text-align: justify;
  height: 100%;
}
.menu-navLink {
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
.menu-navLink:hover {
  color: #f3c9a7;
}
.menu-selected-item {
  /* color: #eb7311; */
  color: #f3c9a7;
}
h4 {
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 0.01em;
  line-height: 1.8;
  margin: 0rem;
}
ol {
  margin: 0rem;
}
