.contact-container {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}
.contact-address {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 36px;
}
.contant-item {
  margin-left: 2rem;
}
.contact-form-container {
  display: flex;
  flex-direction: row;
}

form.contact-form-container input,
textarea {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #f5e2ce7a; /*#ccc; */
  /* border-radius: 15px; */
  -webkit-transition: 20s;
  transition: 0.5s;
  outline: none;
}

form.contact-form-container input[type="text"]:focus,
textarea:focus {
  border: 3px solid #555;
}
.contact-form-address {
  flex-grow: 1;
}
.contact-form-message {
  flex-grow: 1;
}
.contact-button {
  height: 2rem;
  width: 12rem;
  border: white;
  background-color: rgb(17 93 95 / 70%);
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}
.map {
  width: 4000;
  height: 1000;
  border: 0;
  align-items: center;
}
