/* all middle content */
.orderList {
  display: flex;
  flex-direction: column;
  width: 45%;
  letter-spacing: 0.01em;
  text-align: justify;
  line-height: 1.4em;
  font-size: 1.2em;
  padding: 1rem;
}

/*pizza div  */
.details {
  display: grid;
  padding: 1rem 2rem 2rem 1rem;
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
}
img {
  height: 16rem;
}
.addOrderBtn {
  height: 2rem;
  width: 12rem;
  border: white;
  /* background-color: rgb(117, 163, 148); */
  /* color: #4276a0; */
  background-color: rgb(17 93 95 / 70%);
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}
.addOrderBtn:hover {
  /* background-color: rgb(142, 193, 230); */
  background-color: rgb(17, 93, 95);
  color: white;
  border: white;
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
}
.recTitle {
  padding: 1rem 2rem 0rem 1rem;
  font-weight: 900;
}
.rekommendation {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: start;
  padding: 1rem 2rem 0rem 1rem;
}
.recommendedItem {
  display: inline-block;
  padding: 0.5rem;
  font-size: small;
}

.rekommendImage {
  height: 4rem;
  width: 4rem;
}

.AddRekommendationBtn {
  font-weight: 20rem;
  font-size: initial;
  font-weight: 800;
  background-color: rgb(17 93 95 / 70%);
  width: 1.4rem;
  color: white;
  border: whitesmoke;
}
.AddRekommendationBtn:hover {
  background-color: rgb(17, 93, 95);
  color: white;
  border: white;
}
.frontImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 24rem;
}
