header {
  height: 8rem;
  background-color: rgb(17, 93, 95);
  color: white;
  font-size: 4rem;
  font-weight: bold;
  padding: 0rem;
  margin: 1rem;
  position: relative;
}

header h3 {
  padding-left: 8rem;
}
