header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 116px;
}
h3 {
  color: white;
  font-size: 4rem;
  padding-left: 1rem;
  background-color: rgb(17, 93, 95);
}
.header-nav {
  padding-right: 1rem;
  font-size: 1.6rem;
  display: flex;
  place-content: flex-end;
  background-color: #ff6347de;
  gap: 25px;
  align-items: center;
  color: rgb(17, 93, 95);
}
.header-link {
  text-decoration: none;
  color: rgb(17, 93, 95) !important;
}
.header-link:hover {
  color: bisque !important;
  text-decoration: underline !important;
}

.header-link-active {
  color: bisque !important;
}
