header {
  background-color: rgb(17, 93, 95);
  color: white;
  position: relative;
  /* display: grid;
  grid-template-columns: 40% auto; */
}
h3 {
  font-size: 4rem;
  padding-left: 1rem;
}
.header-nav {
  padding-right: 1rem;
  font-size: 1.6rem;
  display: flex;
  place-content: flex-end;
  background-color: #ff6347de;
  gap: 25px;
}
.header-link {
  text-decoration: none;
}
.header-link:visited {
  color: inherit;
}
.header-link:hover {
  color: bisque;
  text-decoration: underline !important;
}

.header-link-active {
  color: rgb(17, 93, 95) !important;
}
