.home-main-content {
  display: flex;
  flex-direction: row;
  /* gap: 6rem; */
  letter-spacing: 0.01em;
  text-align: justify;
  line-height: 1.4em;
  font-size: 1.2em;
}
.home-image {
  height: 98%;
  width: 60%;
  margin: auto;
}
.home-left-div {
  margin: 8rem;
  margin-right: 0rem;
}
.home-left-div > h1,
h2 {
  text-align: center;
}
h1 {
  padding-bottom: 1rem;
}

.home-info {
  padding-bottom: 4rem;
}
.home-open-time {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.home-open-day {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.home-open-hour {
  display: flex;
  flex-direction: column;
}
