.lefNav {
  width: 20%;
  /* background-color: rgb(201, 224, 217); */
  background-color: rgb(87, 137, 139);
  color: white;
  padding: 1rem;
  text-align: justify;
  font-size: 1.4em;
  letter-spacing: 0.01em;
  line-height: 1.8;
}
.navLink {
  cursor: pointer;
}
.selectedItem {
  color: #eb7311;
}
