/*for ipad*/
.app-body {
  margin-top: 1rem;
  min-height: calc(100vh - 236px);
  display: grid;
  grid-template-columns: 1fr;
}
.home-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.01em;
  text-align: justify;
  line-height: 1.4em;
  font-size: 1.2em;
  margin: auto;
  gap: 25px;
}
.home-left-div {
  flex: 1;
}
.home-div-before-image {
  background-color: #ff6347a1;
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
}
.home-image {
  width: 500px;
  height: 300px;
  margin: auto;
  position: relative;
  left: 50px;
  top: 50px;
}
.home-right-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.home-right-div > h1,
h2 {
  text-align: center;
  padding: 1rem;
}
.home-info {
  padding-bottom: 25px;
}
b {
  text-shadow: rgb(132, 138, 138);
}
.home-open-time {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 60%;
  margin: auto;
}
.home-open-day {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.home-open-hour {
  display: flex;
  flex-direction: column;
}
.home-orderbtn {
  height: 2rem;
  width: 8rem;
  border: white;
  background-color: rgb(17 93 95 / 70%);
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 4rem;
}
