.payment-info {
  display: flex;
  flex-direction: row;
}
form.form-container input[type="text"] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #f5e2ce7a; /*#ccc; */
  /* border-radius: 15px; */
  -webkit-transition: 20s;
  transition: 0.5s;
  outline: none;
}

form.form-container input[type="text"]:focus {
  border: 3px solid #555;
}
.form-container {
  margin: 2rem;
  flex-grow: 1;
}
.payment-item {
  flex-grow: 1;
}
.payment-final-payments {
}
.payment-paybtn {
  height: 2rem;
  width: 12rem;
  border: white;
  background-color: rgb(17 93 95 / 70%);
  color: white;
  font-weight: bolder;
  margin-top: 2rem;
  font-size: 1rem;
}
